In [1]:
import MySQLdb as mdb
import pandas as pd
from os import listdir

In [2]:
EEG_DATA_DIR = "/home/dannowitz/Downloads/kaggle-eeg"

In [3]:
# Get list of files, split into data.csv and events.csv files
sample_submission = "sample_submission.csv"
test_data_list = listdir(EEG_DATA_DIR + "/test")
train_list = listdir(EEG_DATA_DIR + "/train")
train_events_list = [f for f in train_list if f[-10:]=="events.csv"]
train_data_list = [f for f in train_list if f[-8:]=="data.csv"]
del train_list

In [4]:
data_table_create = """
                    CREATE TABLE IF NOT EXISTS %s (
                        id VARCHAR(32), Fp1 INT, Fp2 INT, F7 INT, 
                        F3 INT, Fz INT, F4 INT, F8 INT, FC5 INT, 
                        FC1 INT, FC2 INT, FC6 INT, T7 INT, C3 INT, 
                        Cz INT, C4 INT, T8 INT, TP9 INT, CP5 INT, 
                        CP1 INT, CP2 INT, CP6 INT, TP10 INT, P7 INT,
                        P3 INT, Pz INT, P4 INT, P8 INT, PO9 INT, 
                        O1 INT, Oz INT, O2 INT, PO10 INT)
                    """

In [5]:
event_table_create = """
                     CREATE TABLE IF NOT EXISTS %s (
                     id VARCHAR(32),
                     HandStart INT,
                     FirstDigitTouch INT,
                     BothStartLoadPhase INT,
                     LiftOff INT,
                     `Replace` INT,
                     BothReleased INT )
                     """

In [6]:
load_query = """
             LOAD DATA LOCAL INFILE '%s/%s'
             INTO TABLE %s
             FIELDS TERMINATED BY ','
             IGNORE 1 LINES
             """

In [7]:
# CHOOSE ONE SERVER TO WORK ON
server = "seaquel.physics.illinois.edu"
port = 3283
schema = "user_dannowitz_kaggle"
user = "seaguest"
password = "XXXXXXXXXX"

In [11]:
# CHOOSE ONE SERVER TO WORK ON
server = "kaggle-eeg.cginynb2jyca.us-west-2.rds.amazonaws.com"
port = 3306
schema = "kaggle_eeg"
user = "quarkonia"
password = "XXXXXXXXXX"

### Load data into MySQL
* Fastest operation to get data from source to table is LOAD DATA LOCAL INFILE
* Create schema
* Create tables
* Perform LOAD DATA command on each file

In [9]:
try:
    db = mdb.connect(user=user,
                     passwd=password,
                     host=server,
                     port=port,
                     local_infile = 1)
    
    cur = db.cursor()
    
    # See if our schema exists
    cur.execute("SHOW DATABASES LIKE '%s'" % schema)
    if cur.rowcount == 0:
        cur.execute("CREATE DATABASE %s" % schema)
    
    # Set as default
    cur.execute("USE %s" % schema)
    
    # Create and populate the test data table
    table = "test_data"
    cur.execute(data_table_create % (table))
    for data_file in test_data_list:
        cur.execute(load_query % (EEG_DATA_DIR, "test/" + data_file, table))
        
    # Create and populate the train data table
    table = "train_data"
    cur.execute(data_table_create % (table))
    for data_file in train_data_list:
        cur.execute(load_query % (EEG_DATA_DIR, "train/" + data_file, table))
    
    # Create and populate the test and train events tables
    table = "test_events"
    cur.execute(event_table_create % (table))
    table = "train_events"
    cur.execute(event_table_create % (table))
    for events_file in train_events_list:
        cur.execute(load_query % (EEG_DATA_DIR, "train/" + events_file, table))
    
    # Throw the sample submission example in the DB as well
    table = "sample_submission"
    cur.execute(event_table_create % (table))
    cur.execute(load_query % (EEG_DATA_DIR, sample_submission, table))
    
    if db:
        db.close()

except mdb.Error, e:

    print "Error %d: %s" % (e.args[0], e.args[1])

### We want to create three new fields
* Subject
* Session
* Frame
* All after 'id' field in tables

Note: You *could* just alter the existing table to have new fields, but this is more intensive than just filling a new table

In [15]:
# Move the data into tables with the three new fields
try:
    db = mdb.connect(user=user,
                     passwd=password,
                     host=server,
                     port=port,
                     db=schema)
    
    cur = db.cursor()
    
    for table in ("test_data", "test_events", "train_data", "train_events"):
        # Get field names
        cur.execute("SHOW FIELDS IN %s" % table)
        fields = [row[0] for row in cur.fetchall()]

        # Create a new table mimicing the original ones
        cur.execute("CREATE TABLE temp_%s LIKE %s" % (table, table))
        
        # Add three fields
        cur.execute("""ALTER TABLE temp_%s
                       ADD `subject` INT AFTER id,
                       ADD `session` INT AFTER `subject`,
                       ADD `frame` INT AFTER `session`""" % table)
        
        # Create the string for inserting data from the original tables
        #   into the new ones
        insert_str = ("INSERT INTO temp_%s (" % table)
        for field in fields:
            insert_str += "`" + field + "`, "
        insert_str = insert_str[:-2] + ") SELECT * FROM %s"
        
        cur.execute(insert_str % table)
        
        # Get rid of the old ones
        cur.execute("DROP TABLE %s" % table)
        # Replace them with the new ones
        cur.execute("RENAME TABLE temp_%s TO %s" % (table, table))
            
    if db:
        db.close()

except mdb.Error, e:

    print "Error %d: %s" % (e.args[0], e.args[1])

### Populate the new fields by picking apart the 'id' field

In [18]:
try:
    db = mdb.connect(user=user,
                     passwd=password,
                     host=server,
                     port=port,
                     db=schema)
    
    cur = db.cursor()
    
    for table in ("test_data", "test_events", "train_data", "train_events"):
        # Populate the fields
        cur.execute("""
            UPDATE %s SET 
            `subject` = SUBSTR(id, 5, LOCATE('_series',id)-5),
            `session` = SUBSTR(id,LOCATE('_series',id)+7, (LENGTH(id) - LOCATE("_", reverse(id))+1)-(LOCATE('_series',id)+7)),
            `frame` = SUBSTRING_INDEX(id,"_",-1)""" % table)
        
    if db:
        db.close()

except mdb.Error, e:

    print "Error %d: %s" % (e.args[0], e.args[1])

### Add multi-key index on (subject, session, frame)

In [20]:
try:
    db = mdb.connect(user=user,
                     passwd=password,
                     host=server,
                     port=port,
                     db=schema)
    
    cur = db.cursor()
    
    for table in ("test_events", "test_data", "train_data", "train_events"):
        # Index the fields
        cur.execute("""CREATE UNIQUE INDEX subj_sess_frame
                       ON %s (`subject`, `session`, `frame`)
                       USING BTREE""" % table)
    if db:
        db.close()

except mdb.Error, e:

    print "Error %d: %s" % (e.args[0], e.args[1])

# Example data retrieval

In [21]:
data_query = """
             SELECT * FROM %s_data
             WHERE subject=%i AND session=%i
             """

In [22]:
events_query = """
               SELECT * FROM %s_events
               WHERE subject=%i AND session=%i
               """

In [32]:
# For example, get data and events for subject 1, session 8
try:
    db = mdb.connect(user=user,
                     passwd=password,
                     host=server,
                     port=port,
                     db=schema)
    
    data_df = pd.read_sql(data_query % ("train", 1, 8), db)
    events_df = pd.read_sql(events_query % ("train", 1, 8), db)
    
    if db:
        db.close()

except mdb.Error, e:

    print "Error %d: %s" % (e.args[0], e.args[1])

In [33]:
data_df.head(10)

,id,subject,session,frame,Fp1,Fp2,F7,F3,Fz,F4,...,P7,P3,Pz,P4,P8,PO9,O1,Oz,O2,PO10
0,subj1_series8_0,1,8,0,-225,-142,313,211,-61,508,...,149,118,154,266,473,-465,-140,14,-99,176
1,subj1_series8_1,1,8,1,-240,-139,365,145,-70,507,...,160,127,172,287,489,-376,-104,64,-62,224
2,subj1_series8_2,1,8,2,-219,-52,409,89,-78,538,...,194,125,177,280,469,-380,-144,8,-92,89
3,subj1_series8_3,1,8,3,-183,-14,446,48,-68,556,...,227,140,184,303,468,-287,-96,37,-87,33
4,subj1_series8_4,1,8,4,-202,-21,396,45,-60,534,...,271,169,211,339,512,-236,-37,104,-19,123
5,subj1_series8_5,1,8,5,-195,-10,415,103,-54,539,...,498,167,210,333,534,-348,-70,75,-18,149
6,subj1_series8_6,1,8,6,-243,-53,454,89,-49,546,...,162,140,202,328,487,-407,-132,22,-79,70
7,subj1_series8_7,1,8,7,-311,-77,397,199,-42,560,...,5,120,196,315,469,-393,-127,21,-68,78
8,subj1_series8_8,1,8,8,-323,-38,242,236,-40,560,...,14,86,166,311,481,-398,-153,-3,-82,101
9,subj1_series8_9,1,8,9,-274,-5,266,237,-40,561,...,74,77,146,294,470,-395,-143,0,-102,88

In [34]:
events_df.head(10)

,id,subject,session,frame,HandStart,FirstDigitTouch,BothStartLoadPhase,LiftOff,Replace,BothReleased
0,subj1_series8_0,1,8,0,0,0,0,0,0,0
1,subj1_series8_1,1,8,1,0,0,0,0,0,0
2,subj1_series8_2,1,8,2,0,0,0,0,0,0
3,subj1_series8_3,1,8,3,0,0,0,0,0,0
4,subj1_series8_4,1,8,4,0,0,0,0,0,0
5,subj1_series8_5,1,8,5,0,0,0,0,0,0
6,subj1_series8_6,1,8,6,0,0,0,0,0,0
7,subj1_series8_7,1,8,7,0,0,0,0,0,0
8,subj1_series8_8,1,8,8,0,0,0,0,0,0
9,subj1_series8_9,1,8,9,0,0,0,0,0,0

# If you wanted all the data merged together...

In [35]:
all_df = pd.merge(data_df, events_df, on=('id', 'subject', 'session', 'frame')); all_df.head(10)

,id,subject,session,frame,Fp1,Fp2,F7,F3,Fz,F4,...,O1,Oz,O2,PO10,HandStart,FirstDigitTouch,BothStartLoadPhase,LiftOff,Replace,BothReleased
0,subj1_series8_0,1,8,0,-225,-142,313,211,-61,508,...,-140,14,-99,176,0,0,0,0,0,0
1,subj1_series8_1,1,8,1,-240,-139,365,145,-70,507,...,-104,64,-62,224,0,0,0,0,0,0
2,subj1_series8_2,1,8,2,-219,-52,409,89,-78,538,...,-144,8,-92,89,0,0,0,0,0,0
3,subj1_series8_3,1,8,3,-183,-14,446,48,-68,556,...,-96,37,-87,33,0,0,0,0,0,0
4,subj1_series8_4,1,8,4,-202,-21,396,45,-60,534,...,-37,104,-19,123,0,0,0,0,0,0
5,subj1_series8_5,1,8,5,-195,-10,415,103,-54,539,...,-70,75,-18,149,0,0,0,0,0,0
6,subj1_series8_6,1,8,6,-243,-53,454,89,-49,546,...,-132,22,-79,70,0,0,0,0,0,0
7,subj1_series8_7,1,8,7,-311,-77,397,199,-42,560,...,-127,21,-68,78,0,0,0,0,0,0
8,subj1_series8_8,1,8,8,-323,-38,242,236,-40,560,...,-153,-3,-82,101,0,0,0,0,0,0
9,subj1_series8_9,1,8,9,-274,-5,266,237,-40,561,...,-143,0,-102,88,0,0,0,0,0,0